{% include 'logobar.html' %} 
{% load static %} 
<link rel="stylesheet" href="{% static 'styles/style.css' %}">


<section class="home">

<h2 id="generating-your-first-meal-plan">Generating your First Meal Plan</h2>
    <p>
        Each user must log into YourPalate using their unique username and password before using its features. - If you don’t yet have an account register an account by following the “Register” button in the login page, and following the subsequent instructions there.
    </p>
    <p>
        Upon successfully logging in, users will be met at our home screen. From here there are three accessible pages, using each is described below.
    </p>

<h3 id="restrictions">Restrictions</h3>
    <p>
        Here, each user is required to provide - The amount of aclories they typically eat, or would like to aim for in the duration of our mealplan. (If you’re unsure how many calories you eat, or should be eating, <a href="https://www.calculator.net/calorie-calculator.html">this Calorie Calculator</a> as a starting point) - Any dietary restrictions they wish to accomodate from our dropdown list. - Any time restrictions, or how long the you’re is willing to spend to cook each meal of the day.
    </p>
    <p>
        Each of these preferences is necessary as we filter recipes from our dataset to be excluded from our recommendation algorithm, ensuring you meet every individual preference.
    </p>
    <p>
        As soon as you submit them, they are saved in our database in your specific accout.
    </p>

<h3 id="preferences-quiz">Preferences Quiz</h3>
    <p>
        The first time you use our recommendation quiz our algorithm will gather several recipes with the goal of giving you diverse and representative options to best convey your unique palate.
    </p>
    <p>
        Simply go through each element in the table and select like or dislike. (or don’t select anything and we’ll keep it neutral)
    </p>
    <p>
        Once again, as soon as you hit the submit button, these preferences will be saved tyo our database to form the basis of all sbsequent recommendations.
    </p>

<h3 id="plan-generation">Plan Generation</h3>
    <p>
        After you’ve completed the previouse two steps of speficying preferences and restrictions, you can generate your meal plan!
    </p>
    <p>
        The actual process is completely automated, and completed as soon as you press the “Generate Mealplan” button. - Note: If you don’t specify any restrictions or preferences, then your meal plan will essentially be random, otherwise it’s custom to you.
    </p>
    <p>
        After the meal plan is generated it will be presented back to you in a table, and you’ll have the chance to regenerate any meal, if it’s something you don’t like. - This both replaces the meal with one we hope suits your preferences better, and updates your preferences in our database. Meaning this meal won’t be recommended again and will inform future recommendations.
    </p>
    <p>
        Once you’ve OKAY’d the meal we’ll format the meal plan into a pdf to download if you wish to view it offline.
    </p>
    <p>
        In additon, we’ll generate a list of all recipes for you to use when you go shopping. This way there’s no guessing and you can get all ingredients for the week at once easily!
    </p>

<h2 id="updating-restrictions-and-preferences">Updating Restrictions and Preferences</h2>

    <h3 id="restrictions-1">Restrictions</h3>
        <p>
            If at any point you need to update your restictions just bavigate back to that page of the website form the homepage and resubmit the form with the new parameters. This will update your data automatically.
        </p>

    <h3 id="preferences">Preferences</h3>
        <p>
            After you have completed our initial preferences quiz you can go into our quiz to rate more recipes, but it’s not necessary for getting recommendations.
        </p>
        <p>
            Once you’ve successfully generated a mealplan the quiz contents will change slightly. The meals we ask you to rate will be the same ones you were just recommended!
        </p>
        <p>
            The purpose of this is to allow you to make the recipes we recommend and then rate them in our quiz, ensuring our recommendations get better over time as you try new things and we learn more about your preferences.
        </p>
    <p>
        Enjoy!
    </p>
</section>
