{% include 'logobar.html' %} 
{% load static %} 
<link rel="stylesheet" href="{% static 'styles/style.css' %}">

<section class="home"> 
<title>Home</title> 
<center> 
    <font size="7">
<p> Welcome to YourPalate, {{ username }}!</p>

    <font size="6"> 
    <br>

    <button onclick="location.href='/YourPalate/restrictions/'" style="border-radius: 12px; padding: 10px 20px; background-color: #0015ff89; color: white; font-size: 16px;">
        Update Dietary Restrictions           
    </button>
    <p style="font-size: 18px; color: #ffffff;">
        Required for first time users, optional for recurring users
    </p>
    
    <button onclick="location.href='/YourPalate/quiz/'" style="border-radius: 12px; padding: 10px 20px; background-color: #0015ff89; color: white; font-size: 16px;">
        Complete Meal Preferences Quiz            
    </button>
    <p style="font-size: 18px; color: #ffffff;">
        First time users complete premade quiz, recurring users rank previous foods they've made
    </p>
       
    <button onclick="location.href='/YourPalate/results/'" style="border-radius: 12px; padding: 10px 20px; background-color: #088319; color: white; font-size: 16px;"">
        Generate Mealplan!
    </button>
    <script>
        document.querySelector('button[onclick*="/YourPalate/results/"]').addEventListener('click', function() {
           document.body.style.cursor = 'wait';
        });
    </script>
     <p style="font-size: 18px; color: #ffffff;">
         (Running the recommender takes time, ~30 seconds, please be patient)
     </p>
            </font> 
        </center> 
</section>