{% include 'logobar.html' %} 
{% load static %} 
<link rel="stylesheet" href="{% static 'styles/style.css' %}"> 
<title>Home</title> 
        <center> 
            <font size="6"> 
                  
<p> YourPalate </p>
        <button onclick="location.href='/YourPalate/quiz/'" style="border-radius: 12px; padding: 10px 20px; background-color: #0015ff89; color: white; font-size: 16px;">
            Complete Meal Preferences Quiz            
        </button>
        <p style="font-size: 18px; color: #555;">
            First time users complete premade one, recurring users rank previous foods they've made
        </p>
        <br><br>
        
    <button onclick="location.href='/YourPalate/results/'" style="border-radius: 12px; padding: 10px 20px; background-color: #088319; color: white; font-size: 16px;"">
        Generate Mealplan!
     </button>
            </font> 
        </center> 
</section>