{% load static %} 
<link rel="stylesheet" href="{% static 'styles/style.css' %}"> 
<logobar> 
  <span style="font-size: 24px; display: block; text-align: center;">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <img src="{% static 'images/logo.png' %}" width="75" height="75" style="margin-right: 10px;">
      <span style="flex-grow: 1; text-align: center;">YourPalate</span>
      <img src="{% static 'images/logo.png' %}" width="75" height="75" style="margin-left: 10px;">
    </div>
  </span>
  
</logobar> 
<hr>