{% include 'logobar.html' %} 
{% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<title>Home</title> 

<script>
    function highlightRow(button, color) {
        var row = button.parentNode.parentNode;
        var input = button.parentNode.querySelector('input[type="hidden"]');
        if (input.value != '') {
            row.style.backgroundColor = '';
            input.value = '';
        } else {
            row.style.backgroundColor = color;
            input.value = button.value;
        }
    }
</script>

<section class="home"> 
        <center> 
            <font size="7">      
                <p> Preferences Quiz </p>
        <font size="5">
            <p> Please select whether the following recipes are ones you'd like to cook and eat! </p>
            <p> (You can leave some blank if you don't have a preference, but our recommendations will be better the more information you give) </p>
        </font> 
    </center> 
</section>
<!-- TODO: blast preferences to sql database -->
<form method="post" action="{% url 'save_preferences' %}">
    {% csrf_token %}
    <table border="1" style="width:97%; text-align:left; font-size: 22px; margin-left:auto; margin-right:auto;">
        <tr>
            <th>Recipe Name</th>
            <th>Other User's Notes</th>
            <th>Preference</th>
        </tr>
        {% for recipe in recipes %}
            <input type="hidden" name="recipes" value=recipe>
            {% for attr in recipe|slice:"-2:" %}
            <td>{{ attr }}</td>
            {% endfor %}
            <td style="text-align: center">
                <button type="button" value="like" onclick="highlightRow(this, '#088319')" style="border-radius: 12px; padding: 20px 33px; background-color: #088319; color: white; flex: 1;">Like</button>
                <button type="button" value="dislike" onclick="highlightRow(this, '#f44336')" style="border-radius: 12px; padding: 20px 25px; background-color: #f44336; color: white; flex: 1;">Dislike</button>
                <input type="hidden" name="preferences" value="">
            </td>
        </tr>
        {% endfor %}
    </table>
    <center>
        <br><br>
        <button type="button" onclick="location.href='/YourPalate/home/'" style="border-radius: 12px; padding: 10px 20px; background-color: #f44336; color: white; font-size: 16px;">
            Back to Home Screen
        </button>
        <button type="submit" onclick="alert('Your Preferences have been saved!')" style="border-radius: 12px; padding: 10px 20px; background-color: #088319; color: white; font-size: 16px;">
            Save Preferences
        </button>
    </center>
</form>